.custom-header  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111;
  border-bottom: 1px solid #222;
  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo span {
  color: orange;
}

.header-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
}

.hidden-menu {
  display: none;
  background: #222;
  padding: 10px;
}

.hidden-menu ul {
  list-style: none;
  padding: 0;
}

.hidden-menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}
